{% extends 'users/base.html' %}

{% block content %}
{% for post in posts %}


<!-- Blog Area Start -->
<section class="blog__area pt-140 pb-120">
  <div class="container">
      <div class="row">
          <div class="col-12">
              <h2 class="section__title text-center mb-70">Latest Blog Posts</h2>
          </div>
          <br>
      </div>
      <div class="row">
          <!-- Blog Card 1 -->
          <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
              <div class="blog__item white-bg mb-30 transition-3">
                  <div class="blog__thumb w-img fix">
                      <a href="{% url 'blog:blog-detail' post.slug %}">
                          <img src="{{post.img.url}}" alt="Youth Empowerment">
                      </a>
                  </div>
                  <div class="blog__content">
                      <div class="blog__tag">
                          <a href="#">#{{post.category}}</a>
                      </div>
                      <h3 class="blog__title">
                          <a href="{% url 'blog:blog-detail' post.slug %}">{{post.title}}</a>
                      </h3>
                      <div class="blog__meta">
                          <span><i class="far fa-calendar-alt"></i> <strong>{{post.post_date | date:'d F'}}</strong> </span>

                          <span><i class="far fa-user"></i> <strong>Post By {{post.author.first_name}}</strong> </span>
                          <span><i class="far fa-comment"></i> <strong>{{ post.comments.all.count }} Comments</strong> </span>
                      </div>
                      <br>
                      <p>{{post.body | slice:':50' | safe}}...</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>


<br><br><br><br>

<!-- Blog Area Start -->

{% endfor %}
{% endblock %}
